{% extends 'base.html.twig' %}

{% block title %}Relic index{% endblock %}

{% block body %}
    <h1>Relic index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Location</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for relic in relics %}
            <tr>
                <td>{{ relic.id }}</td>
                <td>{{ relic.location }}</td>
                <td>
                    <a href="{{ path('app_relic_show', {'id': relic.id}) }}">show</a>
                    <a href="{{ path('app_relic_edit', {'id': relic.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_relic_new') }}">Create new</a>
{% endblock %}
